<!--
  ~ /**
  ~  * Created by IntelliJ IDEA.
  ~  * C:/Users/Acer/Desktop/uchoba/sportinfrastructure2/src/main/resources/templates/stadium/sportClub-page.html
  ~  *
  ~  * @Autor: SoniaKK
  ~  * @DateTime: 28.04.21, 13:07
  ~  * @Version sportClub-page.html : 1.0
  ~  */
  -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Stadiums List</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
    <link  th:href="@{/css/menu.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body>
<nav role="navigation">
    <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>


        <ul id="menu">
            <a th:href="@{#}"><li>Home</li></a>
            <a th:href="@{/ui/sportClubs/get/all}"><li>SportClubs</li></a>
            <a th:href="@{/ui/coaches/get/all}"><li>Coach</li></a>
            <a th:href="@{/ui/stadiums/get/all}"><li>Stadium</li></a>

        </ul>
    </div>
</nav>
<div >
    <a class="add" th:href = "@{/ui/stadiums/showNewStadiumForm}"> +</a>
</div>

<div  ><table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Capacity</th>
            <th>Tracks</th>
            <th>Length</th>
           <!-- <th>Created at</th>
            <th>Updated at</th>-->
            <th>OPTIONS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stadium: ${stadiums}">
            <td th:text="${stadium.id}"></td>
            <td th:text="${stadium.name}"></td>
            <td th:text="${stadium.address}"></td>
            <td th:text="${stadium.capacity}"></td>
            <td th:text="${stadium.amountOfTracks}"></td>
            <td th:text="${stadium.length}"></td>
            <td> <a th:href="@{/ui/stadiums/showUpdateForm/{id}(id=${stadium.id})}"> <i class="bi bi-pencil" style="font-size: 2rem;"></i></a>
                <a th:href="@{/ui/stadiums/deleteStadium/{id}(id=${stadium.id})}"> <i class="bi bi-trash" style="font-size: 2rem;"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text">
    STADIUMS
</div>

<br><br><br><br><br>
</body>

</html>
