<!--
  ~ /**
  ~  * Created by IntelliJ IDEA.
  ~  * C:/Users/Acer/Desktop/uchoba/sportinfrastructure2/src/main/resources/templates/update_sportClub.html
  ~  *
  ~  * @Autor: SoniaKK
  ~  * @DateTime: 06.04.21, 12:04
  ~  * @Version update_sportClub.html : 1.0
  ~  */
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stadium Management System</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="updateText">STADIUM MANAGEMENT SYSTEM</div>
    <hr>

<div class="updateForm">
    <form action="#" th:action="@{/ui/stadiums/updateStadium}" th:object="${stadiums}"
          method="POST" >
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <label>Name</label>
        <input type="text" th:field="*{name}" >
        <label>Name</label>
        <input type="text" th:field="*{address}"  >
        <input type="number" th:field="*{capacity}"  ><label>Name</label>
        <input type="number" th:field="*{amountOfTracks}" ><label>Name</label>
        <input type="number" th:field="*{length}"  ><label>Length</label>
        <button type="submit" class="btn1" >DONE</button>
    </form>
</div>
    <br><br><br><br><br><br><br><br><br><br>
    <hr>

    <a th:href = "@{/}"> Back to Stadiums List</a>
</div>
</body>
</html>