<!--
  ~ /**
  ~  * Created by IntelliJ IDEA.
  ~  * C:/Users/Acer/Desktop/uchoba/sportinfrastructure2/src/main/resources/templates/new_sportClub.html
  ~  *
  ~  * @Autor: SoniaKK
  ~  * @DateTime: 06.04.21, 00:24
  ~  * @Version new_sportClub.html : 1.0
  ~  */
  -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sportsmen Management System</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"/>
</head>
<body>

<div class="container">
    <div class="updateText">COACH MANAGEMENT SYSTEM</div>
    <hr>
    <div class="addText">
        ADD
    </div>
<div class="addForm">

    <form action="#" th:action="@{/ui/coaches/add}" th:object="${coach}"
          method="POST">
        <!--<label>ID</label>
        <input type="text" th:field="*{id}" placeholder=" ID" required >-->
        <label>Name</label>
        <input id="nameInput" type="text" th:field="*{name}" placeholder=" Name" required>
        <div id="validityN" class="valid-form-text"></div>
        <label>&emsp;&emsp;&emsp;Age</label>
        <input type="number" th:field="*{age}" placeholder="Age" required>
        <br><br>
        <label>SportClub</label>
        <select th:field="*{sportClub}">
            <option th:each="s : ${sportClubs}" th:value="${s.id}" th:text="${s.name}" />
        </select>
        <br><br>
        <label>Sport</label>
        <select th:field="*{sport}">
            <option th:each="sport : ${sport}" th:value="${sport}" th:text="${sport}" />
        </select>



        <button type="submit" class="btn2"> SAVE</button>
    </form>
</div>
    <br><br><br><br><br>
    <hr>

    <a th:href = "@{/ui/stadiums/get/all}"> Back to Stadiums List</a>

    </div>
<script th:inline="javascript">
    let form = document.getElementById('stForm'); // Знаходимо нашу форму по ID
    let submitButton = document.getElementById('submitB');
    let validityN = document.getElementById('validityN');
    let inputName = document.getElementById('nameInput');
    let inputAdress = document.getElementById('adressInput');

    function checkValidityName(input) {
        if (input.value.match(/[А-ЩІЇЯЮЯЄ][а-щА-ЩЬьЮюЯяЇїІіЄєҐґ]+(\s[А-ЩЯЮЄЇІ].){2}/)) //Тут робимо RegExp значення з інпута і перевіряємо і відповідно стилізуємо месендж і інпут
        {
            input.classList.add('valid');
            input.classList.remove('invalid');
            validityN.style.opacity = '0';
            validityN.style.height = '0';
            validityN.innerHTML = '';
            return true;
        }
        else
        {
            input.classList.add('invalid');
            input.classList.remove('valid');

            validityN.innerHTML = 'Будь-ласка, використайте формат "Прізвище І. П."'
            validityN.style.opacity = '1';
            validityN.style.height = '10px';
            validityN.style.margin = '-15px -30px 30px';

            return false;
        }
    }

    inputName.addEventListener('keyup', function () {
        console.log(checkValidityName(this));
    });


    form.addEventListener('submit', (e) => {

        if (!checkValidityName(inputName)){ //Тут робимо безпосерднбо перевірку заповнених даних при натистку на кнопку відправити форму (знову викликаємо нашу функцію перевірки), тобто якщо нашо функція валідаціїї вертає false тоді ми не даємо можливість формі відправитися, якщо true тоді відправляємо нашу форму
            //console.log('no');
            e.preventDefault();
        }

    });



</script>
</body>
</html>