
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset\="UT\F-8">
     <title>Титульна сторінка</title>
    <link  th:href="@{/css/title.css}" rel="stylesheet">
    </head>
<body>
<div class="wrapper">
   <header class="header">
        <div class="container">
           <div class="header__title">
                <div class="header__title-str">
                    <p>Міністерство освіти і науки України</p>
                    <p>Чернівецький національний університет імені Юрія Федьковича</p>
                    </div>
                <div class="header__title-str subtitle">
               <p>Інженерія програмного забезпечення комп’ютерних систем</p>
               <hr>
               <p>(повна назва кафедри, циклової комісії)</p>
                </div>
            </div>
        </div>
</header>
<section class="body">
    <div class="conteiner">
        <div class="body__title subtitle maintitle">
        <h1>КУРСОВИЙ ПРОЕКТ</h1>
        <p>З Java Технологій</p>
        <hr>
        <p>(назва дисципліни)</p>
        </div>

    <div class="body__title maintitle">
    <h1 style="text-align:center">Інформаційна система спортивної іфраструктури міста</h1>
    </div>

    <div class="body__title body__text-rigth">
    <p>Виконав (ла): студентка 2 курсу, групи 243</p>
    <p>спеціальності</p>
    <p> 121 - інженерія програмного забезпечення</p>
    <hr>
    <p class="subtitle">(шифр – назва спеціальності)</p>

 <p>Костащук Софія Валеріївна</p>
 <hr>
 <p class="subtitle">(прізвище, ім’я, по-батькові студента)</p>

 <p>Керівник Прохоров Г. В.</p>
 <hr>
 <p class="subtitle">(підпис) (прізвище та ініціали)</p>
 </div>

 <div class="body__title body__text-left">
    <p>Нормоконтролер</p>
    <hr>
     <p class="subtitle">(підпис) (прізвище та ініціали)</p>
     <p><b>До захисту допущено:</b></p>
     <p><b>Протокол засідання кафедри № _____</b></p>
     <p>від „___”_______2021 р.</p>
    <p>зав. кафедри_______проф. Остапов С.Е.</p>
   </div>
</div>

  </section>
<footer>
   <p>Чернівці - 2021</p>
  </footer>
</div>
</body>
</html>;