<!--
  ~ /**
  ~  * Created by IntelliJ IDEA.
  ~  * C:/Users/Acer/Desktop/uchoba/sportinfrastructure2/src/main/resources/templates/stadium/sportClub-page.html
  ~  *
  ~  * @Autor: SoniaKK
  ~  * @DateTime: 28.04.21, 13:07
  ~  * @Version sportClub-page.html : 1.0
  ~  */
  -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sportsmen List</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
    <link  th:href="@{/css/menu.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body>

<div >
    <a class="add" th:href = "@{/ui/sportsmen/showNewSportsmenForm}"> +</a>
</div>
<nav role="navigation">
    <div id="menuToggle">

        <input type="checkbox" />

        <span></span>
        <span></span>
        <span></span>


        <ul id="menu">
            <a th:href="@{/}"><li>Home</li></a>
            <a th:href="@{/ui/sportClubs/get/all}"><li>SportClub</li></a>
            <a th:href="@{/ui/coaches/get/all}"><li>Coach</li></a>
            <a th:href="@{/ui/sportsmen/get/all}"><li>Sportsman</li></a>
            <a th:href="@{/ui/stadiums/get/all}"><li>Stadium</li></a>
            <a th:href="@{/ui/courts/get/all}"><li>Court</li></a>
            <a th:href="@{/ui/wrestlingGyms/get/all}"><li>Wrestling Gym</li></a>
            <a th:href="@{/ui/gymnasticGyms/get/all}"><li>Gymnastic Gym</li></a>
            <a th:href="@{/ui/playTens/get/all}"><li>Play ten</li></a>
            <a th:href="@{/ui/sportArenas/get/all}"><li>Sport arena</li></a>
            <a th:href="@{/ui/playTens/get/all}"><li>Play ten</li></a>
            <a th:href="@{/ui/сompetitions/get/all}"><li>Competitions</li></a>
            <a th:href="@{/ui/buildings/get/all}"><li>Buildings</li></a>

        </ul>
    </div>
</nav>
<div  ><table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Year</th>
            <th>Sport</th>
            <th>Degree</th>
            <th>SportClub</th>
           <!-- <th>Created at</th>
            <th>Updated at</th>-->
            <th>OPTIONS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sportsmen: ${sportsman}">
            <td th:text="${sportsmen.id}"></td>
            <td th:text="${sportsmen.name}"></td>
            <td th:text="${sportsmen.year}"></td>
            <td th:text="${sportsmen.sport}"></td>
            <td th:text="${sportsmen.degree}"></td>
            <td th:text="${sportsmen.sportClub.name}"></td>
            <td> <a th:href="@{/ui/sportsmen/showUpdateForm/{id}(id=${sportsmen.id})}"> <i class="bi bi-pencil" style="font-size: 2rem;"></i></a>
                <a th:href="@{/ui/sportsmen/delete/{id}(id=${sportsmen.id})}"> <i class="bi bi-trash" style="font-size: 2rem;"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text">
    SPORTSMEN
</div>
<br><br><br><br><br>
</body>

</html>
