<!--
  ~ /**
  ~  * Created by IntelliJ IDEA.
  ~  * C:/Users/Acer/Desktop/uchoba/sportinfrastructure2/src/main/resources/templates/update_sportClub.html
  ~  *
  ~  * @Autor: SoniaKK
  ~  * @DateTime: 06.04.21, 12:04
  ~  * @Version update_sportClub.html : 1.0
  ~  */
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Play Ten Management System</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="updateText">PLAY TEN MANAGEMENT SYSTEM</div>
    <hr>

<div class="updateForm">
    <form action="#" th:action="@{/ui/playTens/update}" th:object="${playTen}"
          method="POST" >
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />
        <label>Name</label>
        <input type="text" th:field="*{name}" >
        <label>Address</label>
        <input type="text" th:field="*{address}"  >

        <br><br>
        <select th:field="*{coating}">
            <option value="Пісок" text="Грунт">Пісок</option>
            <option value="Трава" text="Хард">Трава</option>
            <option value="Штучна трава" text="Бетон">Штучна трава</option>
            <option value="Поліуретан" text="Поліуретан">Поліуретан</option>
            <option value="Резина" text="Поліуретан">Резина</option>
        </select>
        <button type="submit" class="btn1" >DONE</button>
    </form>
</div>
    <br><br><br><br><br><br><br><br><br><br>
    <hr>

    <a th:href = "@{/playTens/getAll}"> Back to Play Tens List</a>
</div>
</body>
</html>